include ../includes/mixins
include ../includes/articles
- RAND = Math.floor(Math.random()*100000);
doctype html
html(lang='es')
	head
		title MRED
		meta(charset="UTF-8")
		link(href='img/favicon.png', rel='shortcut icon')
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(href='css/main.css?v='+RAND, rel='stylesheet', type='text/css')
		script(src='js/main.js?v='+RAND, type='text/javascript')


		// Meta tags facebook
		meta(property='og:title', content="#")
		meta(property='og:description', content="#")
		meta(property='og:image', content="#")

		// Meta tags twitter cards
		meta(name='twitter:card', content="summary_large_image")
		meta(name='twitter:title', content="#")
		meta(name='twitter:description', content="#")
		meta(name='twitter:image', content="#")
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">





	body
		include ../includes/header
		#sections
			block page
		include ../includes/footer

