extends ../templates/default.jade
block page

	section.section--header 
		.section__bg 
			.bg 
				img(src="img/uploads/2.jpeg")
		.section__wrap.section__wrap--header 
			.section__body 
				.section__content
					h1.h2.section__title Contacto
					p.section__description: +lorem(12)
	
	section.section--contact
		.section__wrap.section--sm
			.section__header
				h3.section__title Si tienes dudas o consultas, escribenos y te respondemos a la brevedad.

			.section__body 
				.section__form 
					form.form
						.cols 
							.col-md-6 
								.form__element 
									.form__title Nombre y Apellido 
									.form__input 
										input(type="text" name="#")
							.col-md-6 
								.form__element 
									.form__title Teléfono
									.form__input 
										input(type="text" name="#")
							.col-md-6 
								.form__element 
									.form__title Email
									.form__input 
										input(type="text" name="#")
							.col-md-6 
								.form__element 
									.form__title Asunto
									.form__input 
										select(name="option")
											option(value="1") Consulta
											option(value="2") Cotización
											option(value="3") Garantía
											option(value="4") Falla
											option(value="5") Reclamo

							.col-md-12
								.form__element 
									.form__title Mensaje
									.form__input 
										textarea(type="text" name="#")
							
							.col-md-12
								.form__button 
									button.btn Enviar
										span.fa.fa-angle-right
				
		.section__map 
			<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=-33.46156,-70.68713&hl=es&z=14&amp;output=embed"></iframe>