extends ../templates/default.jade
block page

	section.section--main

		.section__sliders 
			.slider
				.slides
					.slide 
						.section__bg 
							.bg 
								img(src="img/uploads/1.jpeg")
						.section__wrap.section__wrap--main
							.section__body 
								.section__content 
									h1.section__title: +lorem(6)
									p.section__description: +lorem(15)
									a.btn.btn--secondary(href="#") Ver más
										span.fa.fa-angle-right
					.slide 
						.section__bg 
							.bg 
								img(src="img/uploads/2.jpeg")
						.section__wrap.section__wrap--main
							.section__body 
								.section__content 
									h2.h1.section__title: +lorem(6)
									p.section__description: +lorem(15)
									a.btn.btn--secondary(href="#") Ver más
										span.fa.fa-angle-right
					.slide 
						.section__bg 
							.bg 
								img(src="img/uploads/3.jpeg")
						.section__wrap.section__wrap--main
							.section__body 
								.section__content 
									h2.h1.section__title: +lorem(6)
									p.section__description: +lorem(15)
									a.btn.btn--secondary(href="#") Ver más
										span.fa.fa-angle-right
		.section__bar 
			.section__bar__info 
				.section__icon 
					img(src="img/icons/icon-1.png")
				p.section__text Hoevel 5440, Quinta Normal
			.section__bar__info 
				.section__icon 
					img(src="img/icons/icon-2.png")
				p.section__text +562 3301 0439
			.section__bar__info 
				.section__icon 
					img(src="img/icons/icon-3.png")
				p.section__text Envíos a todo Chile
				
	section.section--boxs 
		.section__wrap 
			.section__header 
				h3.h2.section__title Productos destacados
				p.section__description: +lorem(12)
			.section__body
				.cols 
					.col-md-6
						article.article--box 
							.article__bg 
								.bg
									img(src="img/uploads/4.jpeg")
									a(href="#")
					.col-md-6
						.cols
							.col-md-12
								article.article--box.article--box--xs
									.article__bg 
										.bg
											img(src="img/uploads/5.jpeg")
											a(href="#")
							.col-md-12
								article.article--box.article--box--xs
									.article__bg 
										.bg
											img(src="img/uploads/6.jpeg")
											a(href="#")
					
					.col-md-4
						article.article--box.article--box--xs
							.article__bg 
								.bg
									img(src="img/uploads/7.jpeg")
									a(href="#")						
					.col-md-4
						article.article--box.article--box--xs
							.article__bg 
								.bg
									img(src="img/uploads/8.jpeg")
									a(href="#")						
					.col-md-4
						article.article--box.article--box--xs
							.article__bg 
								.bg
									img(src="img/uploads/1.jpeg")
									a(href="#")						

	section.section--products 
		.section__wrap 
			.section__header 
				h3.h2.section__title Nuestros Productos
				p.section__description: +lorem(12)
			.section__body 
				.section__wrapper
					.swiper-container.swiper-products
						.swiper-wrapper
							.swiper-slide.dscroll
								article.article--product 
									.article__image 
										img(src="img/products/1.jpeg")
									.article__body 
										h4.article__title: +lorem(5)
										p.article__description: +lorem(12)
										a.btn(href="#") Cotizar
							.swiper-slide.dscroll
								article.article--product 
									.article__image 
										img(src="img/products/2.jpeg")
									.article__body 
										h4.article__title: +lorem(5)
										p.article__description: +lorem(12)
										a.btn(href="#") Cotizar
							.swiper-slide.dscroll
								article.article--product 
									.article__image 
										img(src="img/products/3.jpeg")
									.article__body 
										h4.article__title: +lorem(5)
										p.article__description: +lorem(12)
										a.btn(href="#") Cotizar
							.swiper-slide.dscroll
								article.article--product 
									.article__image 
										img(src="img/products/4.jpeg")
									.article__body 
										h4.article__title: +lorem(5)
										p.article__description: +lorem(12)
										a.btn(href="#") Cotizar
							.swiper-slide.dscroll
								article.article--product 
									.article__image 
										img(src="img/products/5.jpeg")
									.article__body 
										h4.article__title: +lorem(5)
										p.article__description: +lorem(12)
										a.btn(href="#") Cotizar
							.swiper-slide.dscroll
								article.article--product 
									.article__image 
										img(src="img/products/6.jpeg")
									.article__body 
										h4.article__title: +lorem(5)
										p.article__description: +lorem(12)
										a.btn(href="#") Cotizar
							.swiper-slide.dscroll
								article.article--product 
									.article__image 
										img(src="img/products/7.png")
									.article__body 
										h4.article__title: +lorem(5)
										p.article__description: +lorem(12)
										a.btn(href="#") Cotizar
							.swiper-slide.dscroll
								article.article--product 
									.article__image 
										img(src="img/products/8.jpeg")
									.article__body 
										h4.article__title: +lorem(5)
										p.article__description: +lorem(12)
										a.btn(href="#") Cotizar