extends ../templates/default.jade
block page

	section.section--header 
		.section__bg 
			.bg 
				img(src="img/uploads/1.jpeg")
		.section__wrap.section__wrap--header 
			.section__body 
				.section__content
					h1.h2.section__title Nuestros productos
					p.section__description: +lorem(12)

	section.section--allproducts
		.section__wrap
			.section__body
				.cols
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/1.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/2.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/3.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/4.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/5.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/6.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/7.png")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/8.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/1.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/2.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/3.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/4.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/5.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/6.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/7.png")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/8.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/1.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/2.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/3.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/4.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/5.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/6.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/7.png")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/8.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/1.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/2.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/3.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/4.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/5.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/6.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/7.png")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
					.col-xs-12.col-md-4
						article.article--product 
							.article__image 
								img(src="img/products/8.jpeg")
							.article__body 
								h4.article__title: +lorem(5)
								p.article__description: +lorem(12)
								a.btn(href="single-product.html") Cotizar
