
form
.form
	position relative

input
select
textarea
	display block
	width 100%
	padding 7px 10px
	vertical-align top
	background white
	box-sizing border-box
	-webkit-appearance none
	appearance none
	font-weight 100
	&:focus
		border-color color
	&::placeholder
		font-size 13px
		line-height 15px
		font-weight 400


select
	display inline-block
	border none
	opacity 1
	margin-bottom 0
	background url('../img/icon-select.png') 95% 50% no-repeat

textarea
	height 100px
	overflow auto


.form__element
	position relative
	display block
	margin-bottom 0px
	&:hover
		cursor text
	
	&:last-child
		margin-bottom 0

	.form__title, .form__title__notfocus
		font-size $global-size-sm
		font-weight 400
		margin-bottom 5px
		text-align left
		opacity .7
		
	.form__title__notfocus
		top 0
		transform scale(1)
	
	.form__link
		text-align center
		padding 5px 0px
		&.form__link--right
			text-align right
		a
			color $dark
			font-size 11px
			line-height 16px
			font-weight 600

			strong 
				color $color_primary
	
	.form__elemet__alert
		font-size 12px
		line-height 14px
		display none
		padding 10px
		text-align center
		color red
		&.show
			display block

	.form__input
		position relative
		z-index 2
		opacity 1
		border 1px solid rgba(255,255,255,.3)
		input
		select
		textarea
			background-color white
			border 1px solid rgba(0,0,0,.1)
			color $dark
			font-weight 300
			padding-left 10px
			padding-right 0


			

	.form__select
		position relative
		border-bottom 1px solid $light
		cursor pointer
		color $dark
		tap 0
		select
			display none


	&.form__element--focused
		.form__input
			border-color $color_primary


	&.form__element--filled
	&.form__element--focused
	&.form__element--file
		.form__title
			top 0
			transform scale(.85)


.form__button
	margin-top 20px
	text-align center

