
		
section
	position relative
	background-color transparent
	color $dark
	overflow hidden
	// Elementos
		
	.section__bg
		cover(absolute)

	.section__title
		font-weight 500
		margin-bottom 20px
	.section__description
		font-weight 400
		margin-bottom $global-sep + 5
		opacity .7
		@media $break-md
			font-size 18px
			line-height 24px


	.section__header
		text-align center
		padding-bottom 20px

	.section__video
		position absolute
		top 0
		right 0
		width 100%
		height 50%
		pointer-events none
		overflow hidden
		@media $break-md
			height 100%
			width 60%
		video
			width 100vw
			height 56.25vw
			min-height 100vh
			min-width 177.77vh
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)

	.section__filters
		margin 10px
		padding-bottom 20px
		position relative
		overflow auto
		white-space nowrap
		margin 0px -20px 30px
		margin-bottom 40px
		padding 20px 5px
		border-bottom 1px solid rgba(0,0,0,.2)
		@media $break-limit
			display flex
			text-align center
			justify-content center
			overflow visible
			white-space normal
			margin-bottom 80px


		.section__filter
			display inline-block
			background-color white
			text-transform uppercase
			letter-spacing 1px
			border 1px solid rgba(0,0,0,.2)
			color $dark
			padding 5px 10px
			margin 0px 2px
			transition .3s
			cursor pointer
			&:hover
				background-color $color_primary
				color white
			&.current
				background-color $color_primary
				color white
			
			
	.section__content
		position relative
		color $dark
		line-height $global-lh-md
		font-size $global-size-xmd
		&>*
			animation slideFadeUp .5s ease backwards
			animation-stagger(5,.2s)
		&.section--left
			text-align left

		&.section--right
			text-align right

		&.section--center
			text-align center

		&.section--justify
			text-align justify
		
		blockquote
			p
				line-height $global-lh-md
				font-size $global-size-md
				color $dark
				@media $break-md
					font-size $global-size-lg		

		ul
			margin-bottom 20px
			li
				padding 5px 0px
				&:before
					content ''
					display inline-block
					margin-right 10px
					position relative
					top -1px
					width 10px
					height 10px
					line-height 21px
					text-align center
					border-radius 50%
					overflow initial
					background-color $color_primary

		&.section__content--2col
			@media $break-sm
				column-count 2
				column-gap 40px

		&.section__content--3col
			@media $break-sm
				column-count 2
				column-gap 40px
			@media $break-md
				column-count 3	

	
	.section__flex
		@media $break-md
			display flex
			flex-direction row
			align-items center				

	.section__wrap
		position relative
		max-width $limit
		margin 0 auto
		padding 40px 20px
		@media $break-md
			padding 60px 20px

		&.section__wrap--main
			padding 50px 20px 50px
			height 85vh
			display flex
			align-items center
			justify-content center
			@media $break-md
				height 70vh
				padding 50px 40px 50px
		
		&.section__wrap--header
			display flex
			padding 100px 20px 50px
			align-items flex-end
			justify-content flex-start
			@media $break-md
				align-items center
				padding 100px 40px 50px
						
		&.section__wrap--sm
			@media $break-md
				padding 40px

		&.section__wrap--xs
			@media $break-md
				padding 20px

		&.section__wrap--lg
			@media $break-md
				padding 60px 40px
			@media $break-lg
				padding 80px 40px

		&.section--sm
			max-width ($limit - 500)

		&.section--md
			max-width ($limit - 340)
		
		&.section--lg
			max-width ($limit - 200)

	// Variantes


	&.section--dark
		background $dark
		color white
						
	&.section--light
		background $light
		color $dark

	&.section--white
		background white
		color $dark	
	

	&.section--white
		background white
		color $dark
	
	&.section--color-primary
		background $color_primary
		color white
	
	&.section--color-secundary
		background $color_primary
		color white	
	
	&.section--gray
		background $gray
		color white	
	
	&.section--grayten
		background grayter
		color white	



	&.section--main
		margin-top 100px
		background-color $dark
		@media $break-md
			margin-top 120px
		.section__bg
			opacity .7
		.section__body
			.section__content
				color white
				text-align center
				padding 20px
				background-color rgba(54,96,126,.7)
				border 1px solid rgba(255,255,255,.3)
				border-radius 20px
		
		.section__bar 
			display flex
			justify-content space-between
			align-items center
			flex-direction column
			@media $break-md
				flex-direction row
			.section__bar__info
				padding 20px
				color white
				background-color $color_primary
				width 100%
				display flex
				align-items center
				@media $break-md
					justify-content center
					text-align center
					padding 20px 10px

				&:nth-child(odd)
					background-color $color_secondary
				
				.section__icon
					margin-right 20px
					img
						width 50px
				.section__text
					margin-bottom 0
					font-size 18px
					line-height 24px
					font-weight bold
					@media $break-md
						font-size 24px
						line-height 32px						
					
	&.section--header
		margin-top 100px
		background-color $dark
		@media $break-md
			margin-top 120px
		.section__bg
			opacity .7
		.section__body
			.section__content
				color white
				text-align left
				padding 20px
				background-color rgba(54,96,126,.7)
				border 1px solid rgba(255,255,255,.3)
				border-radius 20px


	&.section--product
		margin-top 100px
		background-color $light
		@media $break-md
			margin-top 120px
		.section__gallery
			margin -20px
			padding 20px
			margin-bottom 0

			.section__gallery__slider
				padding-bottom 40px
				background-color white
				@media $break-md
					margin 0
					padding-bottom 20px
					border 1px solid rgba(0,0,0,.07)
				.slide
					line-height 340px
					height 340px
					text-align center
				img
					max-height 340px
					display inline-block
					vertical-align middle

				@media $break-md
					.slide
						line-height 500px
						height 500px
					img
						max-height 500px

			.section__gallery__thumbs
				overflow auto
				white-space nowrap
				text-align center
				margin 0 -20px
				padding 0px 20px
				margin-top -30px
				&>*
					animation slideFadeUp .5s ease backwards
					animation-stagger(20,.05s)
				@media $break-md
					margin-top 0
					padding-top 20px
					white-space initial
					overflow hidden
					text-align left

				.section__gallery__thumb
					position relative
					background-color white
					display inline-block
					margin 0px 5px
					margin-left 0px
					border 1px solid rgba(0,0,0,.2)
					cursor pointer
					img
						width 60px
					&:after
						content ""
						background-color $color_primary
						position absolute
						bottom 0px
						left 0px
						width 0%
						height 5px
						z-index 5
						transition .2s
					&.current
						&:after
							width 100%
					span
						circle(17px)
						background-color $light
						color $dark
						font-size 9px
						margin 2px
						line-height 16px
						position absolute
						top 0
						right 0

		.section__info
			@media $break-md
				padding 20px
			.section__content
				margin-bottom 20px
				@media $break-md
					text-align left
				.section__title
					margin-bottom 10px
				
				.section__features
					margin-bottom 20px
					.section__feature
						font-size 18px
						line-height 26px
						margin-bottom 10px
						font-weight 300
						&:last-child
							margin-bottom 0
						span
							margin-left 5px
							font-weight bold
				.section__description
					opacity .6
					margin-bottom 10px
		
		.section__button
			.btn
				max-width 100%
				width 100%

		.section__tabs
			background-color white
			border 1px solid rgba(0,0,0,.1)
			padding 10px 20px
			margin-top 0px
			margin-bottom 20px
			.section__title
				font-family $font

			.section__price
				font-size 24px
				line-height 28px
				color $color_primary
				span
					color $gray
					font-size 12px
					margin-left 7px
	
	&.section--contact
		.section__map 
			iframe
				height 400px