
footer
	.footer__primary
		.footer__wrap
			.cols
				.col-md-4
					.footer__logo
						a(href="index.html")
							img(src="img/icons/logo-mred-white.png")
				
				.col-md-5
					.footer__infos 
						.footer__info 
							.footer__icon 
								img(src="img/icons/icon-2.png")
							p.footer__text +56 9 712345645

						.footer__info 
							.footer__icon 
								img(src="img/icons/icon-4.png")
							p.footer__text ventas@contacto.cl

						.footer__info 
							.footer__icon 
								img(src="img/icons/icon-3.png")
							p.footer__text Hoevel 5440, Quinta Normal, Chile
					
					.footer__socials 
						.footer__social 
							a(href="#")
								span.fa.fa-facebook
						.footer__social 
							a(href="#")
								span.fa.fa-instagram


				.col-md-2
					.footer__nav
						h4.footer__title Navegación
						ul 
							li: a(href="#") Inicio
							li: a(href="#") Catálogo
							li: a(href="#") Quiénes somos
							li: a(href="#") Blog
							li: a(href="#") Contacto
							li: a(href="#") Cotizador

	.footer__secondary
		.footer__wrap.footer__wrap--sm
			.footer__copyright
				p 2023 MRed. Todo los derechos reservados.